/*------------------------------------*\
    ARTICLE STYLES
\*------------------------------------*/

.article {
    padding: var(--spacing-medium) 0;
}

.article__thumbnail,
.article__title,
.article__details {
    margin-bottom: var(--spacing-medium);
}

.article__details {
    color: var(--gray-color);
}

.article__content {
    font-family: var(--font-family-text);
    font-size: var(--font-size-regular);
    line-height: 1.75;
    max-width: 700px;

    h2,
    h3,
    p,
    pre {
        margin-bottom: 1.125rem;
    }

    strong {
        font-weight: 700;
    }

    a {
        --hover-color: hsl(205, 80%, 90%);
        --active-color: hsl(205, 80%, 80%);
        border-bottom: 2px solid var(--hover-color);
        transition: background-color 0.2s ease,
                    border 0.2s ease,
                    color 0.2s ease;

        html.dark-mode & {
            --hover-color: hsl(205, 80%, 20%);
            --active-color: hsl(205, 80%, 25%);
        }

        &:hover {
            background-color: var(--hover-color);
            color: var(--primary-color);
        }

        &:active {
            background-color: var(--active-color);
            border-color: var(--active-color);
        }
    }
}

// Medium Screens
@media screen and (max-width: map-get($breakpoints, large)) {
    .article__content {
        font-size: 1em;
    }
}
