/*------------------------------------*\
    HEADER STYLES
\*------------------------------------*/

.header {
    align-items: center;
    background-color: var(--bg-color);
    box-shadow: inset 0 -1px 0 var(--border-color);
    display: flex;
    height: var(--header-height);
    justify-content: space-between;
    padding: 0 var(--spacing-xlarge);
    position: fixed;
    width: 100%;
    z-index: 10;
}

.header__logo {
    svg {
        height: 34px;
        fill: var(--text-color);
    }
}

.header__button {
    --button-hover-color: hsla(0, 0%, 0%, 0.06);
    --button-active-color: hsla(0, 0%, 0%, 0.12);
    --button-focus-color: var(--primary-light-color);
    height: 36px;
    position: relative;
    width: 36px;

    html.dark-mode & {
        --button-hover-color: hsla(0, 0%, 100%, 0.06);
        --button-active-color: hsla(0, 0%, 100%, 0.12);
        --button-focus-color: var(--primary-dark-color);
    }

    &::before {
        border-radius: 50%;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transform: scale(1.3);
        transition: background-color 0.1s ease,
                    transform 0.1s ease;
        width: 100%;
    }

    &:hover::before {
        background-color: var(--button-hover-color);
        transform: scale(1.5);
    }

    &:active::before {
        background-color: var(--button-active-color);
    }

    .icon {
        margin: 0 auto;
    }
}

// Medium Screens
@media screen and (max-width: map-get($breakpoints, xlarge)) {
    .header {
        padding: 0 var(--spacing-medium);
    }
}

// Small Screens
@media screen and (max-width: map-get($breakpoints, small)) {
    .header {
        padding: 0 var(--spacing-small);
    }
}
