/*------------------------------------*\
    MAIN STYLES
\*------------------------------------*/

.main {
    display: flex;
    flex-direction: column;
    margin-top: var(--header-height);
}

.main,
.main > .wrapper {
    flex: 1;
}

.wrapper {
    margin: 0 auto;
    max-width: var(--max-width-wrapper);
    padding: 0 var(--spacing-medium);
    width: 100%;

    &--center {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

// Small Screens
@media screen and (max-width: map-get($breakpoints, small)) {
    .wrapper {
        padding: 0 var(--spacing-small);
    }
}
