/*------------------------------------*\
    SIDE MENU STYLES
\*------------------------------------*/

.side-menu {
    height: 100%;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: var(--header-height);
    transition: background-color 0.2s ease;
    width: 100%;
    z-index: 10;

    &--active {
        background-color: hsla(0, 0%, 0%, 0.4);
        pointer-events: auto;
    }
}

.side-menu__content {
    --hover-color: hsla(0, 0%, 0%, 0.06);
    background-color: var(--bg-color);
    box-shadow: inset -1px 0 0 var(--border-color);
    height: calc(100% - var(--header-height));
    max-width: 450px;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform 0.2s ease;

    html.dark-mode & {
        --hover-color: hsla(0, 0%, 100%, 0.06);
    }

    .side-menu--active & {
        transform: translateX(0);
    }

    ul {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;

        li a {
            display: block;
            font-weight: 600;
            padding: var(--spacing-medium) var(--spacing-xlarge);
            text-transform: uppercase;
            transition: background-color 0.1s ease;

            &:hover {
                background-color: var(--hover-color);
            }

            &:active {
                background-color: var(--border-color);
            }
        }
    }
}

// Medium Screens
@media screen and (max-width: map-get($breakpoints, xlarge)) {
    .side-menu__content {
        max-width: 360px;
    }

    .side-menu__content ul li a {
        padding: var(--spacing-medium) var(--spacing-medium);
    }
}

// Small Screens
@media screen and (max-width: map-get($breakpoints, small)) {
    .side-menu__content {
        max-width: 280px;
    }

    .side-menu__content ul li a {
        padding: var(--spacing-medium) var(--spacing-small);
    }
}
