/*------------------------------------*\
    READING PROGRESS BAR STYLES
\*------------------------------------*/

.reading-progress {
    background-color: var(--primary-color);
    height: 3px;
    margin-top: -3px;
}
