/*------------------------------------*\
    POST LIST STYLES
\*------------------------------------*/

.posts {
    padding: var(--spacing-medium) 0;

    h1 {
        margin-bottom: var(--spacing-medium);
    }
}

.posts__head {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 1.5;
    margin-bottom: var(--spacing-medium);

    h1 {
        font-size: 2.35rem;
        margin-bottom: 0;
        margin-right: var(--spacing-medium)
    }

    a {
        color: var(--primary-color);
        font-weight: 600;
        padding-right: 1em;
        position: relative;

        &::after {
            border-bottom: 2px solid currentColor;
            border-right: 2px solid currentColor;
            content: '';
            height: 6px;
            position: absolute;
            top: 50%;
            transform: translate(6px, -50%) rotate(-45deg);
            transition: transform 0.2s ease;
            width: 6px;
        }

        &:hover::after {
            transform: translate(10px, -50%) rotate(-45deg);
        }
    }
}

.post {
    margin-bottom: var(--spacing-medium);
}

.post__wrapper {
    align-items: center;
    display: flex;
}

.post__thumbnail {
    border-radius: var(--border-radius);
    margin-right: var(--spacing-large);
    max-width: 300px;
    overflow: hidden;
    width: 100%;
}

.post__title,
.post__details {
    margin-bottom: var(--spacing-small);
}

.post__excerpt {
    font-family: var(--font-family-text);
    font-size: var(--font-size-regular);
    line-height: 1.75;
}

// Medium Screens
@media screen and (max-width: map-get($breakpoints, medium)) {
    .post__wrapper {
        flex-direction: column;
    }

    .post__thumbnail {
        margin-bottom: var(--spacing-small);
        margin-right: 0;
        max-width: 100%;
    }
}

// Not transitions
@media (prefers-reduced-motion: reduce) {
    .posts__head a::after {
        transition: none;
    }
}
