/*------------------------------------*\
    MENU ICON
\*------------------------------------*/

.icon--menu,
.icon--menu::after,
.icon--menu::before {
    background-color: currentColor;
    display: block;
    height: 3px;
    position: relative;
    width: 28px;
}

.icon--menu::after,
.icon--menu::before {
    box-sizing: border-box;
    content: '';
    position: absolute;
    top: -8px;
    transition: top 0.25s ease,
                transform 0.25s ease;
}

.icon--menu::after {
    top: 8px;
}

.icon--menu {
    transition: width 0.25s ease;
}

// Cross Icon (Menu active)

.icon--active.icon--menu::after,
.icon--active.icon--menu::before {
    top: 0;
}

.icon--active.icon--menu::after {
    transform: translateX(-50%) rotate(45deg);
}

.icon--active.icon--menu::before {
    transform: translateX(-50%) rotate(-45deg);
}

.icon--active.icon--menu {
    width: 0;
}

// Not transitions
@media (prefers-reduced-motion: reduce) {
    .icon--menu,
    .icon--menu::after,
    .icon--menu::before {
        transition: none;
    }
}
