/*------------------------------------*\
    TYPOGRAPHY STYLES
\*------------------------------------*/

body {
    font-family: var(--font-family);
}

h1,
h2,
h3 {
    font-family: var(--font-family);
    font-weight: 600;
}

h1 {
    font-size: var(--font-size-xlarge);
}

h2 {
    font-size: var(--font-size-large);
}

h3 {
    font-size: var(--font-size-medium);
}

.text--highlighted {
    color: var(--primary-color);
}
