/*------------------------------------*\
    VARIABLES CSS
\*------------------------------------*/

:root {
    // Colores
    --primary-color: hsl(205, 80%, 35%);
    --primary-light-color: hsl(205, 80%, 90%);
    --primary-dark-color: hsl(205, 80%, 10%);
    --text-color: hsl(0, 0%, 19%);
    --inverted-text-color: hsl(0, 0%, 90%);
    --bg-color: hsl(0, 0%, 100%);
    --border-color: hsl(0, 0%, 92%);
    --gray-color: hsl(0, 0%, 64%);
    --footer-color: hsl(0, 0%, 94%);
    --selection-color: var(--primary-light-color);
    // Tipografías
    --font-family: 'Barlow', sans-serif;
    --font-family-text: 'Merriweather', serif;
    // Tamaños de fuente
    --font-size-xlarge: 2.625rem;
    --font-size-large: 2rem;
    --font-size-medium: 1.375rem;
    --font-size-regular: 1.125rem;
    --font-size-small: 0.9375rem;
    // Márgenes
    --spacing-xlarge: 5.625rem;
    --spacing-large: 2.5rem;
    --spacing-medium: 1.875rem;
    --spacing-small: 1rem;
    // Tamaños
    --header-height: 70px;
    --footer-height: 60px;
    --max-width-wrapper: 1080px;
}

html.dark-mode {
    --text-color: hsl(0, 0%, 90%);
    --bg-color: hsl(205, 55%, 7%);
    --border-color: hsl(205, 55%, 15%);
    --footer-color: hsl(205, 55%, 9%);
}

/*------------------------------------*\
    BREAKPOINTS
\*------------------------------------*/

$breakpoints: (
  small: 460px,
  medium: 768px,
  large: 1150px
);
